<style>
    h1 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    }
    div.text_cell_render{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
        line-height: 145%;
        font-size: 120%;
    }
    .warning{
        color: rgb( 240, 20, 20 )
        }  
</style>
